html,
body {
    margin: 0;
    padding: 0;}

.navbar-expand-lg{
    background-color:darkslategrey;
    color: white;}

    header{
        background-image: url(../img/headerimagen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        height: 200px;
      
        
    }

    .titulo{
    
        padding-top: 40px;
        color: white;
         text-align: center;
         text-decoration:double;
         text-shadow: 2px 5px 3px #000
     }
     
     .text{
         font-size: 52px;}

         .lateral {
            display: flex;
            flex-direction: column;
          align-items: center;
          padding-top: 25px;
          padding-bottom:  25px;
        
        
          justify-content: space-around;
          width: 50%;
          background-color: rgb(8, 139, 141);
          color: white;
        }
        .datospersonales{
            padding: 8px;
            list-style-type: none;}

            .contacto{
                display: flex;
                flex-direction:row;
                gap: 20px;
                text-align: center;
                list-style-type: none;
                margin: 0;
                padding: 0;
                
            }
            
            .listado{
                list-style-type: none;
            }
            .link{
                text-decoration: none;
                color: white;}

                .derecha{
    
                    padding-top: 40px;
                    padding-bottom: 40px;
                    
                }
                
                .subtitulo{
                    background-color: rgb(8, 139, 141);
                    color: white;
                   border-radius: 20px;
                   text-align: center;
                   
                }
                
                .texto{
                    color:  rgb(8, 139, 141);
                   
                
                }